/* Navigation bar styling */

header {
  width: 100%; /* Ensure the header spans the full width of the viewport */
  background-color: #333;
  color: white;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px 20px; /* Padding to bring items in from the edges */
  max-width: 1200px; /* Limit the maximum width */
  margin: 0 auto; /* Center the container */
  height: 30px; /* Adjust the height of the nav bar as needed */
}

.logo a {
  display: flex;
  align-items: center;
}

.logo img {
  height: 50px; /* Adjust the height as needed */
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .header-container {
    flex-direction: column;
    gap: 10px;
  }
}



  